<!DOCTYPE html>
<hmtl lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class = "container">

    <h1>All Events</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <!--unless is similar to if_______ == false-->
    <p th:unless="${events} and ${events.size()}">No events!</p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <th:block th:each="event : ${events}">
            <tr>
            <!-- this was for ArrayList, had to be replaced when events was
             changed to HashMap td th:text="${event}"> </td-->
                <td th:text="${event.key}"> </td>
                <td th:text="${event.value}"> </td>
            </tr>
            </th:block>
        </table>


    </body>
</hmtl>